.double-cards {
    display: flex;
    gap: 2em;

    .card {
        width: 50%;
        overflow: auto;
        box-sizing: border-box;
    }
}

.card {
    border: 2px solid #d3d3d3;
    border-radius: 23px;
    padding: 1em;
    margin-bottom: 1em;
}

@media (max-width: 1200px) {

    .double-cards,
    .triple-cards {
        display: block !important;
        width: 100%;

        .card {
            width: 100%;
        }
    }
}

table {
    border: 2px solid #D3D3D3;
    width: 100%;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;

    td {
        font-size: 13px;
        padding: .2em 0;
    }

    th {
        background: #DDDDDD;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    tr {
        transition: all .2s;
        cursor: pointer;
    }

    tr:hover {
        background-color: #D3D3D3;
    }
}

.number-blur {
    filter: blur(7px);
}

.blur-manager {
    margin: 1rem 0 0 0;

    text-align: center;
    cursor: pointer;
    font-size: 1rem;

    transition: .3s;

    .blur-button {
        display: flex;

        justify-content: center;
        align-items: center;
        align-content: center;

        i {
            margin-right: .3rem;
            font-size: 1.2rem;
        }
    }
}


.blur-manager:hover {
    font-weight: bold;
    letter-spacing: 1px;
}

.page-content {
    margin-top: 1rem !important;
}

.card-button {
    overflow: hidden !important;
    cursor: pointer;

    height: 100% !important;

    .lines {
        display: inline-block;
        width: 100%;
        transition: transform .1s;
    }

    .lines:hover {
        transform: scale(1.1);
    }

    .line {
        font-size: 2rem;
        font-weight: bold;
    }

    i {
        position: relative;
        float: right;
        font-size: 6rem;
        top: 0;
        right: 0px;
    }
}

.triple-cards {
    display: flex;
    width: 100%;
    gap: 2em;

    .left {
        float: left;
        height: 100%;
        width: 100%;

        .card {
            height: 100%;
        }
    }

    .right {
        float: right;
        height: 100%;
        width: 100%;

        .card {
            height: 50%;
        }
    }
}

@keyframes up-right {
    0% {
        transform: scale(1);
        opacity: .25
    }

    50% {
        transform: scale (1, 5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: .25;
    }
}

.circle {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    opacity: .25;

    margin: 0 auto;
}

.circle-orange {
    background-color: rgb(217, 192, 94);
    -webkit-animation: up-right 1s infinite;
    -moz-animation: up-right 1s infinite;
    -o-animation: up-right 1s infinite;
    animation: up-right 1s infinite;
}

.circle-green {
    background-color: rgba(3, 183, 0, 0.6);
    opacity: 1;
}
.circle-red {
    background-color: rgba(251, 23, 23, 0.6);
    opacity: 1;
}

.url-container {
    width: 100%;

    .url {
        background-color: #d3d3d3;
        border-radius: 23px;
        padding: .5rem;
        margin: 1em auto;
        text-align: center;
        width: fit-content;
        font-size: 1rem;
        cursor: pointer;

        transition: all .2s;
    }

    .url:hover {
        letter-spacing: 1px;
        font-weight: bold;
    }
}