.card {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    border: 2px solid #d3d3d3;
    border-radius: 23px;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;

    .card-header {
        display: flex;
        margin-bottom: 1em;

        h3 {
            width: 70%;
        }

        .option-list {
            box-sizing: border-box;
            width: 30%;
            text-align: right;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: right;
            border-radius: 23px;

            .option {
                color: #fff;
                width: 100%;
                text-align: center;
                cursor: pointer;
                border-right: 2px solid #e2e2e2;
                font-size: .7em;
                transition: all .3s;
            }

            .option:hover {
                letter-spacing: .4px;
                font-weight: bold;
            }

            .option:last-child {
                border: none;
            }
        }
    }
}

.status {
    font-size: .8em;
    width: 80%;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20px;
    border-radius: 23px;

    padding: .2em .7em;
}

.status-blue {
    background-color: rgba(0, 111, 195, 0.317);
    color: #000000;
}

.status-green {
    background-color: rgba(3, 157, 0, 0.317);
    color: #000000;
}

.status-gray {
    background-color: rgba(61, 61, 61, 0.317);
    color: #000000;
}

.status-orange {
    background-color: rgba(206, 144, 0, 0.38);
    color: #000000;
}

.status-yellow {
    background-color: rgba(240, 212, 98, 0.635);
    color: #000000;
}

.status-red {
    background-color: rgba(255, 3, 3, 0.317);
    color: #000000;
}

.card-blue {
    border-color: rgba(0, 111, 195, 0.317);

    a {
        color: rgba(0, 111, 195, 1);
        font-weight: bold;
    }
}

.card-green {
    border-color: rgba(3, 157, 0, 0.317);

    a {
        color: rgba(3, 157, 0, 1);
        font-weight: bold;
    }
}

.card-gray {
    border-color: rgba(61, 61, 61, 0.317);

    a {
        color: rgba(61, 61, 61, 1);
        font-weight: bold;
    }
}

.card-orange {
    border-color: rgba(206, 144, 0, 0.38);

    a {
        color: rgba(206, 144, 0, 1);
        font-weight: bold;
    }
}

.card-yellow {
    border-color: rgb(238, 203, 63);

    a {
        color: rgb(238, 203, 63);
        font-weight: bold;
    }
}

.card-red {
    border-color: rgba(255, 3, 3, 0.317);

    a {
        color: rgba(255, 3, 3, 0.6);
        font-weight: bold;
    }
}

table {
    border: 2px solid #D3D3D3;
    width: 100%;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;

    td {
        font-size: 13px;
        padding: .2em 0;
        text-align: center;
    }

    th {
        background: #DDDDDD;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
        text-align: center;
    }
}

label {
    display: block;
    font-size: 0.7em;
}

input {
    background: none;
    height: 2em;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #000;
    outline: none;
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 23px;
    margin-bottom: 1.5em;
}

input:last-child {
    margin-bottom: 0;
}

input:focus {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.file-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    border-radius: 23px;
    padding: 1em;
    margin-bottom: 1em;
    background-color: #d3d3d3;

    .file-details {
        display: flex;
        //justify-content: center;
        align-items: center;
        align-content: center;
        height: fit-content;

        background-color: #e2e2e2;
        border-radius: 23px;
        margin-bottom: 1em;
        transition: all .3s;
        cursor: pointer;

        .file-icon {
            font-size: 2em;
            margin: .4rem 1rem;
            height: fit-content;
        }

        .file-information {
            display: block;
            font-size: 1rem;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .file-details:hover {
        transform: scale(1.02);
    }

    .comprovante {
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
        background-color: #e2e2e2;
        border: 2px solid #d3d3d3;
        border-radius: 23px;
        padding: 1em;
        text-align: center;
        transition: all .3s;
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;
        }
    }

    .comprovante:hover {
        transform: scale(1.02);
    }
}

.double-inputs {
    width: 100%;
    display: flex;
    gap: 2em;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .double-inputs {
        width: 100%;
        display: block;

        .input-group {
            width: 100% !important;
            margin-bottom: 1em;
        }
    }

    .button {
        width: 100% !important;
    }
}

.no-file {
    text-align: center;
    font-size: .9em;
}


.button {
    background: #000;
    color: #ffffff !important;
    font-weight: bold;
    border: none;
    padding: .2em 1em;
    border-radius: 23px;
    border: 2px solid #000;
    font-size: .9rem;
    margin-top: .8em;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.button:hover,
.simple-button:hover {
    letter-spacing: 2px;
}

.simple-button {
    color: #000 !important;
    font-weight: bold;
    border: none;
    font-size: .9rem;
    margin-top: .8em;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.badge {
    //font-weight: bold;
    font-size: .8em;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-radius: 23px;

    border: 2px solid #000000;
    //background-color: #000;
    color: #000;
    font-weight: bold;

    margin: .6rem 0;
    padding: .5rem .4rem;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    border-radius: 23px;
    background-color: #fefefe;
    margin: 2em auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    position: relative;
}

embed {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 23px;
    flex-grow: 1;
}

.status-desc {
    font-size: 1rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    /* Começa com opacidade 0 (oculto) */
    to {
        opacity: 1;
    }

    /* Termina com opacidade 1 (visível) */
}

.options-list {
    background-color: rgb(246, 246, 246);
    border: 1px solid rgba(0, 0, 0, 0.446);
    border-radius: 23px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .option {
        a {
            color: #000000;
            text-decoration: none;
        }

        padding: 0 .3em;

        text-align: center;
        width: 100%;
        border-right: 1px solid #000000;
        cursor: pointer;
    }

    .option:last-child {
        border: none;
    }
}

.double-buttons {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
    width: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinations-list {
    display: block;
    justify-content: left;
}

.totals {
    margin-top: 1em;
    
    display: flex;
    justify-content: right;

    h4 {
        margin-right: 2em;
    }
}