@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --background-color: #000;
  --text-color: #fff;
  --card-background-color: #ededed;
  --card-border-color: #cecece;
  --card-border-radius: 12px;
}

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.8;
}

.logo {
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  vertical-align: middle;
}
.logo img {
  vertical-align: middle;
  width: 200px;
  height: 35px;
  margin-right: 2em;
}
.logo .name {
  font-weight: bold;
  font-size: 0.8em;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--background-color);
  height: 8vh;
  margin: 1em 2em;
  border-radius: 30px;
}

.nav-list {
  z-index: 999;
  list-style: none;
  align-items: center;
  display: flex;
}

.nav-list li {
  letter-spacing: 1px;
  margin-left: 32px;
}

.nav-list li a {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .logo img {
    display: none;
  }
  .nav-list {
    margin-top: 1em;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--background-color);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list:not(.active) {
    display: none;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
.nav-list.active {
  display: flex;
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.2em;
}

.page-content {
  margin: 3rem 0;
  padding: 0 3.5rem;
  font-size: 1.2em;
}

@media (max-width: 767px) {
  .page-content {
    margin: 1.5rem 0;
    padding: 0 1.5rem;
  }
}
.special-btn {
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 23px;
  padding: 0.2em 1em;
  transition: all 0.4s;
}
.special-btn i {
  margin-right: 0.3em;
}

.special-btn:hover {
  background-color: #ffffff;
  color: black;
}

.bold {
  font-weight: bold;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 9px 15px;
  outline: 0;
  border: 2px solid #ffffff;
  border-radius: 23px;
  background: none;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: 0.4s all;
}

@media (max-width: 1200px) {
  .date-selectors {
    display: block;
  }
  .date-selectors .select {
    margin-bottom: 1em;
  }
  .date-selectors .select:last-child {
    margin-bottom: 0;
  }
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #e2e2e2;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-radius: var(--card-border-radius);
  border: 1px solid var(--card-border-color);
  background-color: var(--card-background-color);
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  position: relative;
}
.card .chevron {
  position: absolute;
  top: 50%;
  right: 10px;
  /* Ajuste essa posição para definir a distância do chevron à borda direita */
  transform: translateY(-50%);
  font-size: 24px;
  color: #000;
  /* Defina a cor do ícone aqui */
}

@media (max-width: 1200px) {
  .double-cards {
    display: block;
    width: 100%;
  }
  .double-cards .card {
    width: 100%;
  }
}
table {
  border: 2px solid #D3D3D3;
  width: 100%;
  text-align: left;
  border-radius: 12px;
  overflow: hidden;
}
table td {
  font-size: 13px;
  padding: 0.2em 0;
}
table th {
  background: #DDDDDD;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}
table tr {
  transition: all 0.2s;
  cursor: pointer;
}
table tr:hover {
  background-color: #D3D3D3;
}

.user-description {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
}

.page-title {
  margin-bottom: 1.4rem;
}

.bold {
  font-weight: bold;
}

.timeline {
  position: block;
  width: 2px;
  height: 100%;
  background-color: #000000;
}

.timeline-event {
  position: relative;
  margin: 25px 0;
  width: 100%;
}

.timeline-event-icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 1;
  border: 2px solid #e2e2e2 !important;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px #333333;
}

.timeline-event-content {
  position: relative;
  margin-left: 25px;
  padding: 5px;
  background-color: transparent;
  width: 250px;
}

.timeline-event-date {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.timeline-event-description {
  margin: 5px 0 0;
  font-size: 0.9rem;
}

.button {
  background: #000;
  color: #ffffff !important;
  font-weight: bold;
  border: none;
  padding: 0.2em 1em;
  border-radius: 23px;
  border: 2px solid #000;
  font-size: 0.9rem;
  margin-top: 0.8em;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.button:hover,
.simple-button:hover {
  letter-spacing: 1px;
}

.simple-button {
  color: #000;
  font-weight: bold;
  border: none;
  font-size: 1rem;
  margin-top: 0.2em;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.cards-container {
  display: flex;
  gap: 2rem;
}
.cards-container .left {
  float: left;
  width: 25%;
}
.cards-container .right {
  float: right;
  width: 75%;
}

.user-details {
  text-align: center;
  overflow: hidden;
}

.user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.card-button {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.card-button i {
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
}

.card-button:hover {
  letter-spacing: 1px;
}

.disconnect {
  color: rgb(187, 17, 17);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.show {
  display: flex;
  opacity: 1;
}

.modal-content {
  border-radius: 23px;
  background-color: #fefefe;
  margin: 2em auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: auto;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.drop-files {
  border: 2px dotted #3e3e3e;
  border-radius: 23px;
  padding: 2em 0;
  height: 30% !important;
}
.drop-files .center {
  text-align: center;
  color: #3e3e3e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.drop-files .center p {
  font-size: 0.8em;
  transition: all 1s;
}
.drop-files .center i {
  font-size: 4em;
}

.highlight {
  border: 2px solid #3e3e3e;
}

@media (max-width: 920px) {
  .cards-container {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .cards-container .left, .cards-container .right {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */