.double-cards {
    display: flex;
    gap: 2em;

    .card {
        width: 50%;
    }
}

.card {
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;

    border-radius: var(--card-border-radius);
    border: 1px solid var(--card-border-color);
    background-color: var(--card-background-color); 
    padding: 1em;
    margin-bottom: 1em;

    .card-header {
        display: flex;
        margin-bottom: 1em;

        h3 {
            width: 70%;
        }

        .option-list {
            box-sizing: border-box;
            width: 30%;
            text-align: right;
            background-color: #000;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-align: right;
            border-radius: 23px;

            .option {
                color: #fff;
                width: 100%;
                text-align: center;
                cursor: pointer;
                border-right: 2px solid #e2e2e2;
                font-size: .7em;
                transition: all .3s;
            }

            .option:hover {
                letter-spacing: .4px;
                font-weight: bold;
            }

            .option:last-child {
                border: none;
            }
        }
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    border-radius: 23px;
    background-color: #fefefe;
    margin: 2em auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    position: relative;
}

.double-buttons {
    display: flex;
    gap: 1em;
    margin: 1em;
}

.button {
    background: #000;
    color: #ffffff !important;
    font-weight: bold;
    border: none;
    padding: .2em 1em;
    border-radius: 23px;
    border: 2px solid #000;
    font-size: .9rem;
    margin-top: .8em;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.button:hover,
.simple-button:hover {
    letter-spacing: 2px;
}

.simple-button {
    color: #000 !important;
    font-weight: bold;
    border: none;
    font-size: .9rem;
    margin-top: .8em;
    cursor: pointer;
    transition: all .3s;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
    width: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-inputs {
    width: 100%;
    display: flex;
    gap: 2em;
    margin-bottom: .4rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.input-group {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .double-cards {
        display: block;
        width: 100%;

        .card {
            width: 100%;
        }
    }
}

table {
    border: 2px solid #D3D3D3;
    width: 100%;
    text-align: left;
    border-radius: 12px;
    overflow: hidden;

    td {
        font-size: 13px;
        padding: .2em 0;
    }

    th {
        background: #DDDDDD;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    tr {
        transition: all .2s;
        cursor: pointer;
    }

    tr:hover {
        background-color: #D3D3D3;
    }
}

input {
    background: none;
    border: 2px solid #000;
    outline: none;
    padding: 0.3rem 0.65rem;
    font-size: .9rem;
    font-weight: 400;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 23px;
    width: 100%;
    box-sizing: border-box;

    margin-bottom: .5rem;
}

input:focus {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.timeline {
    position: block;
    width: 2px;
    height: 100%;
    background-color: #000000;
}

.timeline-event {
    position: relative;
    margin: 25px 0;
    width: 100%;
}

.timeline-event-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000000;
    z-index: 1;
    border: 2px solid #e2e2e2 !important;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #333333;
}

.timeline-event-content {
    position: relative;
    margin-left: 25px;
    padding: 5px;
    background-color: transparent;
    width: 250px;
}

.timeline-event-date {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.timeline-event-description {
    margin: 5px 0 0;
    font-size: .9rem;
}

.modules-list {
    .module {
        font-size: 1rem;
        display: flex;

        justify-content: left;
        align-items: baseline;
        text-align: left;

        input {
            width: fit-content;
            margin-right: .5rem;
        }
    }
}

.module-name {
    font-weight: bold;

    border-bottom: 2px dotted #000;
}

// Checkbox Customizada

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 7px;
    padding-top: 1px;
    cursor: pointer;
    font-size: 14px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #d4d4d4;
    border: 0px solid #000000;
    border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #a9a9a9;
}

.control input:checked ~ .control_indicator {
    background: #000000;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #000000;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 1;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

.access-selector {
    display: flex;
    gap: 2rem;

    margin: 1rem 0;

    .access {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        border-radius: 24px;
        color: #000;
        cursor: pointer;
        border: 2px solid #000;
        padding: .1rem 0;

        transition: .3s;
    }

    .access:hover {
        font-weight: bold;
        background-color: #000;
        color: #fff;
    }

    .access-selected {
        background-color: #000;
        color: #fff;
        font-weight: bold;
        transition: 0s;
    }
}